PORT=8080
# DATABASE_URL=postgres://spendwise-local:password@localhost:5432/spendwise_db?sslmode=disable

DB_HOST=localhost
DB_USER=spendwise-local
DB_PASSWORD=password
DB_NAME=spendwise_db
DB_PORT=5432
DB_SSLMODE=disable
