.dashboardHeader{
    width: 100%;
    padding-inline: 4.5rem;
}
.dashboardHeader > form input{
    padding-left: 1rem;
    /* padding-left: 4rem; */
}
.notificationLabel{
    padding-inline: 2px;

}
@media (max-width: 768px) {
    .dashboardHeader{
    padding-inline: 1rem;
    }
}