.header{
    top: 0.125rem;
    padding: .5rem; 
    margin: 2rem 0;
    box-shadow: 2px 2px #0000000a,
    -2px 2px #0000000a;
}

.header>div:last-child button:last-child{
    padding: 5px 12px;
    border-radius: 12px;
}